*{font-family: 'Open Sans', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}

nav	{

border-bottom: 1px solid gray;
padding: 0.8rem;
margin-bottom: 2rem	;
}
 
nav ul .nav-logo, nav ul .nav {
	list-style-type: none;
	display: inline;
	margin: 0.5rem;
}

#intro {	
	text-align: center;
	padding: 10%;
}

section > .header {
	text-align: center;
	margin-bottom: 50px ;

}

section p {
	margin-bottom: 55px;

}

#intro button{
	padding: 1rem;
	border-radius: 25px;
	background-color: #c2195b;
	color: white;
	font-weight: bold;

}

#succeed-info > div {
	display: flex;
	padding-left: 10%;
	padding-right: 10%;
	justify-content: space-around;
}

#succeed-info > div > .card {
	margin: 0 15px;
}

#succeed-info > div > .card > h3 {
	text-align: center;

}

#pre-footer {
	padding: 20px;
	background-color: #002540;
	display: flex; 
	justify-content: space-around;
	color: white;
	
}

#pre-footer  p {
	margin-bottom: 5px;

}

