* {margin: 0;
	padding: 0;}

h1, p {
	background-color: #dde0e3;
	margin: 15px;
	/*margin: 20px 15px; top-bottom right-left */
	padding: 10px;
	border: 1px solid red;
}

em, strong	{
background-color: indianred;
display: inline-block; /*display: inline; display: block; display: flex;*/
padding: 100px ;
border: 1px solid black;
margin: 50px;
}	

#strong-tag{

	display: inline-block;
}

.flex-container{
	border: 1px solid black;
	padding: 20px;
	background-color: darkgray;
	display: flex;
	/*justify-content: center;
	justify-content: space-between;*/
	justify-content: space-around;

	

}

.flex-item {
height: auto;
width: 250px;
background-color: coral;
border: 1px solid maroon;
display: inline-block;

}

.flex-item > h2{

	text-align: center;
}

.flex-item > img {
	width: inherit;

}